*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(162, 93, 226);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
}

.profille-img{
    max-height: 30vh;
    margin: 0.5rem;
    border-radius: 50%;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

a{
    display: flex;
    padding: 0.5rem;
    width: 90vw;
    max-width: 20rem;

    font-size: 1.5rem;

    background-color: rgb(7, 7, 255);
    color: rgb(235, 235, 235);
    text-decoration: none;

    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
}

a img{
    height: 2rem;
    width: 2rem;
    filter: contrast(0) brightness(100);
}